/* @font-face {
  font-family: "VG5000";
  src: url(https://imaginationofthings.com/public/VG5000-Regular_web.woff2)
      format("woff2"),
    url(https://imaginationofthings.com/public/VG5000-Regular_web.woff)
      format("woff");
} */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
}

body.fontLoaded {
  font-family: "PT Sans", sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
}
